#pwd_info .short{
    font-weight:bold;
    color:#FF0000;
    font-size:larger;
}
#pwd_info .weak{
    font-weight:bold;
    color:orange;
    font-size:larger;
}
#pwd_info .good{
    font-weight:bold;
    color:#2D98F3;
    font-size:larger;
}
#pwd_info .strong{
    font-weight:bold;
    color: limegreen;
    font-size:larger;
}